.etr-generator {
	background-color: white;
	padding: 10px;
	display: flex;
	flex:3;
}

.etr-generator-title{
	color:rgb(146, 18, 18);
	text-align: center;
}

.etr-generator-subtitle{
	text-align: center;
}

.etr-generator-btn{
	background:rgb(142, 58, 58);
	color:white;
	height: 50px;
}

@media screen and (max-width: 1132px) {
  .etr-generator {
    flex-direction: column;
  }
}