.etr-notice {
    flex: 1;
    background: #ddd;
    padding: 10px;
	background-color: rgba(234, 232, 232, 0.943);
    position: relative;
}
.etr-notice-title {
    text-align: center;
    color: rgb(137, 43, 43);
}

.etr-notice-subtitle {
    font-size: large;
    text-align: left;
}

.etr-notice-list{
    font-size: medium;
    text-align: left;
}

@media screen and (max-width: 768px) {
  .etr-notice {
  }
}