.etr-objective{
    border-color: black;
    border:1px;
    border-right: solid;
    padding: 10px;
    flex: 1;
}

/* 🔹 Responsive : Mobile */
@media screen and (max-width: 1132px) {
  .etr-objective {
   border-right: none;
   border-top: solid;
  }
}